
##########################
#
# Menu e comandi
#
##########################

- MENU2 -	:::		# Testo senza comandi

Editor		:::		c:\windows\system32\notepad.exe

Cartelle	>>>
			&Explorer	:::		explorer.exe 
			Fotografie	:::		C:\Syncthing
			*Disegni		:::		E:\Disegni
			<<<
&Web ::: https://www.yahoo.com
bbb ::: cmd
bbb ::: cmd




